/* ==========================================================
   TABLE SYSTEM
========================================================== */

.table-container {

    width: 100%;

    overflow-x: auto;

}

.table {

    width: 100%;

    border-collapse: collapse;

    background: #ffffff;

}

.table thead {

    background: var(--primary-50);

}

.table th {

    padding: 18px;

    text-align: left;

    color: var(--text-light);

    font-weight: 600;

    border-bottom: 1px solid var(--border);

}

.table td {

    padding: 18px;

    border-bottom: 1px solid var(--border);

}

.table tbody tr {

    transition: .3s;

}

.table tbody tr:hover {

    background: var(--primary-50);

}

.table img {

    width: 52px;

    height: 52px;

    border-radius: 12px;

    object-fit: cover;

}

.table-action {

    display: flex;

    gap: 10px;

}

.table-action button {

    width: 38px;

    height: 38px;

    border-radius: 10px;

    background: var(--primary-light);

    color: var(--primary);

    display: flex;

    justify-content: center;

    align-items: center;

    transition: .2s ease;

}

.table-action button:hover {

    background: var(--primary);

    color: #ffffff;

}